# This is the settings file for the ewatercycle suite. This file is include
# in the main suite.rc. Slightly verbose syntax courtesy of Jinja2 processing
# used to include these variables. We use all_lower_case variable names to
# distinguish these from the all caps ENVIRONMENT_VARIABLES used in the suite.

## General ##

#Which forecast cycles to run (one per day).
#Will pause automatically for any date in the future.
{% set initial_cycle_point = "2016-08-08" %}
{% set final_cycle_point = "2016-08-09" %}

#How many ensemble members to use. Note: 21 is the only really valid value, as there are 21
#GEFS ensemble members. Anything else only to be used for testing.
%{ set ensemble_member_count = 21 %}

#Where to get the initial state from at the initial cycle point
#Bootstrap will fail when the previous day output state already exists.
#Bootstrap step can then simply be skipped to continue
{% set bootstrap_initial_state_file = "$HOME/ewatercycle/initial_state.tar.gz" %}

## Forcing and Observations ##

#hsaf credentials file (format should be e.mail%40domain.com:p3ssw3rd)
{% set hsaf_credential_file = "#HOME/.hsaf_credentials" %}

#The observations are masked to get rid of observations at point for which
#there is no model, and (if needed) scaled to reduce the number of observations
#and thus memory and cpu requirements.
{% set observation_mask = "$CYLC_SUITE_DEF_PATH/grids/30min.grid.model.mask.nc" %}
{% set observation_target_grid = "$CYLC_SUITE_DEF_PATH/grids/30min.grid.txt" %}

#Grid of the model. Used to rescale the forcing.
{% set model_grid = "$CYLC_SUITE_DEF_PATH/grids/30min.grid.txt" %}

## PCRGlobWB ##

#Model install location

%{ set pcrglobwb_model_dir = "$HOME/ewatercycle/PCR-GLOBWB" %}

#Location of configuration template
{% set pcrglobwb_config_template = "$CYLC_SUITE_DEF_PATH/pcrglobwb_config_templates/default-30min.ini" %}

#Location of dataset used in PCRGlobWB for parameters
{% set hydroworld_location = "$HOME/ewatercylce/hydroworld" %}

## OpenDA ##

#lightly patched version of openda (see INSTALL.md)
{% set openda_dir = "$HOME/ewatercycle/openda" %}

{% set openda_config_template_dir = "$CYLC_SUITE_DEF_PATH/openda_configurations/openda_config_template_30" %}

